.toolbarCard{
  width: 100%;
  background: rgb(246, 128, 107);
}

.logoutBut{
  float: right;
  margin-top: -60px;
}

.serviceCardBasic{
  background: aqua;
  text-align: center;
  border-radius: 5px

}

.serviceCardAdvance{
  text-align: center;
  background: rgb(240, 159, 102);
  border-radius: 5px
}

.rowHeight{
  height: 140px;

}
