.loginCard{
  background: lightgray;
  border-radius: 7px;
  height: 370px;
  width: 107%;
}

.logButton{
  float: right;
}
.resetButton{

}

.rowAlign{
  height: 200px;
}

.error {
  color: rgb(250, 28, 28);
  margin-left: 5px;
}
